fastapi
uvicorn
langchain
langchain_community
langchain-huggingface
langchain-chroma
unstructured[all-docs]
pymupdf
python-magic
python-pptx
chromadb
langchain-chroma>=0.1.2
sentence-transformers
requests
streamlit
simsimid
