fastapi
uvicorn
langchain
langchain_community
langchain-huggingface
langchain-chroma
unstructured[all-docs]
pymupdf
python-magic
python-pptx
chromadb
sentence-transformers
requests
streamlit
simsimid
